
* {
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
  text-align: center;
  font-size: xx-large;
  border: black;
}

header {
  text-align: center;
  padding: 10px;
}

header img{
  image-rendering: auto;
  padding: 50px;
  text-align: center;
}

main{
  image-rendering: crisp-edges;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  /* text-decoration-color: crimson; */
}


li{
  font: medium;
  text-align: center;

#cookie-table {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  font-family:  'Open Sans Condensed', sans-serif;

}

td, th, tr {
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(184, 225, 226);

}

/* :hover {
color: cadetblue;
} */

footer{
  text-align: center;

}