
* {
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
  text-align: center;
  font-size: xx-large;
  border: black;
}

header {
  text-align: center;
  padding: 10px;
}

header img{
  /* image-rendering: auto; */
  padding: 50px;
  text-align: center;
}

header a {
  display: block;
}

main{
  image-rendering: crisp-edges;
}

h2 {
  color: blue;
  text-align: center;

}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-decoration-color: crimson;
}


ul ,li{
  font: medium;
  text-align: center;
}

#cookie-table, td, th, tr  {
  border: solid black;
  border: 1px solid rgb(51, 48, 48);
  margin: 20px;
  padding: 20px;
  font-family:  'Open Sans Condensed', sans-serif;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(229, 184, 153);
}

main img {
  margin: 10px;
}

td:hover {
color: rgb(166, 182, 233);
}

footer{
  text-align: center;

}